
<div class="ion-page">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button (click)="abrirMenu()"><ion-icon name="menu"></ion-icon></ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="end" color="tertiary">
      <ion-button [routerLink]="['/cuenta']">
        <ion-icon slot="start" ios="id-card-outline" md="person-circle-outline"></ion-icon>
        Mi cuenta
      </ion-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
  
  <ion-progress-bar type="indeterminate" color="primary" *ngIf="carga"></ion-progress-bar>
</ion-header>

<ion-menu contentId="main-content">
  
  <ion-content class="ion-padding">
    
      <ion-list>
        <ion-item (click)="toGo('inicio')">
          <ion-icon aria-hidden="true" name="home" slot="start"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
        <ion-item (click)="toGo('tienda')">
          <ion-icon aria-hidden="true" name="pricetags" slot="start"></ion-icon>
          <ion-label>Tienda</ion-label>
        </ion-item>
        <ion-item (click)="toGo('carrito')">
          <ion-icon aria-hidden="true" name="cart" slot="start"></ion-icon>
          <ion-label>Carrito</ion-label>
          <ion-badge slot="end" color="primary">{{carritoNumber}}</ion-badge>
        </ion-item>
        <ion-item (click)="toGo('guardados')">
          <ion-icon aria-hidden="true" name="receipt" slot="start"></ion-icon>
          <ion-label>Mis pedidos</ion-label>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" id="main-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carrito</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="display: flex; justify-content: center;">
    <ion-note *ngIf="carritoItems.length==0">No hay nada en tu carrito</ion-note>
  </div>
  <ion-list>
    <ion-item-sliding *ngFor="let item of carritoItems">
      <ion-item>
        <ion-label>
          <h2>{{item.cuant}} - {{item.name}}</h2>
        </ion-label>
        <ion-badge slot="end" color="primary">Precio total: ${{item.precio}}</ion-badge>
      </ion-item>
  
      <ion-item-options>
        <ion-item-option color="danger" (click)="delAll(item.name)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Retirar todo
        </ion-item-option>
        <ion-item-option color="warning" (click)="delOne(item.name)">
          <ion-icon slot="top" name="bag-remove"></ion-icon>
          Retirar 1
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-note>Subtotal: ${{totalPrice}}</ion-note><br>
    <ion-note>IVA 15%: ${{iva}}</ion-note><br>
    <ion-label><h1>Total: ${{finalPrice}}</h1></ion-label><br>
  </ion-toolbar>
  <ion-toolbar >
    <ion-button expand="block" [disabled]="botonPagar" (click)="pay()">
      <ion-icon slot="start" name="cash"></ion-icon>
      Pagar ${{finalPrice}}
    </ion-button>
  </ion-toolbar>
</ion-footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</div>
<ion-modal [isOpen]="isModalOpen" #modal backdropDismiss="false" [presentingElement]="presentingElement">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Check-out</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" *ngIf="!checkout">
      <ion-list inset="true">
        <ion-list-header color="light">
          <ion-label>Información adicional</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-select label="Entrega" placeholder="Elige un método..." interface="action-sheet" [(ngModel)]="retiro">
            <ion-select-option value="Retiro">Retirar en el local</ion-select-option>
            <ion-select-option value="Envío fuera de Cuenca">Enviar fuera de Cuenca</ion-select-option>
            <ion-select-option value="Envío dentro de Cuenca">Enviar dentro de Cuenca</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select [disabled]="!retiro" label="Método de pago" placeholder="Elige un método..." interface="action-sheet" [(ngModel)]="method">
            <ion-select-option value="Efectivo" *ngIf="retiro=='Retiro'">En efectivo</ion-select-option>
            <ion-select-option value="Transferencia">Por transferencia (Banco del Pacífico)</ion-select-option>
            <ion-select-option value="Crédito">Con tarjeta de crédito</ion-select-option>
            <ion-select-option value="Débito">Con tarjeta de débito</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-note>Tus datos de facturación puedes cambiarlos en "Mi cuenta"</ion-note>
      <ion-list inset="true" *ngIf="retiro!=null && method!=null">
        <ion-list-header color="warning">
          <ion-label>Antes de realizar tu pago</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>
            <h2>Información importante:</h2>
            <ion-note>Toda la información de retiro, pago y reserva se encuentra a continuación</ion-note>
            <p *ngIf="method=='Transferencia'">
              - Solo se permiten subir imagenes a continuación. <br>
              - Asistencia Integral Automotriz se encargará de revisar si la imagen corresponde a un comprobante de transferencia válido y con los datos correctos. <br>
              - En caso de que la imagen subida no corresponda a lo solicitado, el pedido será inmediatamente anulado y notificado con un mensaje a su número de teléfono. <br>
            </p>
            <p *ngIf="method=='Débito'">
              - Dispone de 10 minutos para realizar la transacción. Puede hacerlo con la app de PayPhone o con la tarjeta de débito directamente<br>
              - En un lapso de 24 horas a partir del pago realizado con éxito, usted recibirá un mensaje con las instrucciones de la entrega<br>
            </p>
            <p *ngIf="method=='Crédito'">
              - Dispone de 10 minutos para realizar la transacción. Puede hacerlo con la app de PayPhone o con la tarjeta de crédito directamente<br>
              - En un lapso de 24 horas a partir del pago realizado con éxito, usted recibirá un mensaje con las instrucciones de la entrega<br>
            </p>
            <p *ngIf="method=='Efectivo'">
              - Usted dispondrá de un tiempo de 5 días después de que su pedido se encuentre en estado "Listo", pagar su reserva y retirar el producto.<br>
              - Si no acude en ese lapso, su pedido será anulado y el stock volverá a su estado anterior.<br>
            </p>
            <p *ngIf="retiro=='Retiro'">
              - Para retirar su pedido, debe mostrar el código QR generado en el apartado "Mis pedidos" o en el Inicio. <br>
              - Pedimos encarecidamente estar pendientes al apartado "Mis pedidos" o en el Inicio para saber si su pedido está listo para ser retirado, al igual que se le enviará un mensaje al número de teléfono configurado.<br>
            </p>
            <p *ngIf="retiro=='Envío fuera de Cuenca'">
              - El costo de envío dependerá del motorizado. Este costo igualmente será notificado con un mensaje a su número de teléfono. <br>
            </p>
            <p *ngIf="retiro=='Envío dentro de Cuenca'">
              - El envío dentro del cantón Cuenca es gratis.
              - Para recibir su pedido, debe mostrar el código QR generado en el apartado "Mis pedidos" o en el Inicio.
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox labelPlacement="stacked" [(ngModel)]="terms">He leído y aceptado la información importante</ion-checkbox>
        </ion-item>
      </ion-list>
      <ion-list inset="true" *ngIf="terms">
        <ion-list-header color="medium">
          <ion-label>Pago</ion-label>
        </ion-list-header>
        <ion-item *ngIf="method=='Transferencia'">
          <ion-label>
            <h1>Datos de cuenta:</h1>
            <p>
              <b>Banco: </b> Pacífico <br>
              <b>Tipo de cuenta: </b> Ahorros <br>
              <b>Número de cuenta: </b> 7809007 <br>
              <b>Cédula: </b> 0102959756 <br>
              <b>Correo electrónico: </b> victor&#64;automotriz.com.ec <br>
            </p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="method=='Transferencia'">
           <ion-label>Comprobante de transferencia</ion-label>
           <ion-button size="small" (click)="selectFile()" [disabled]="!terms">
            <ion-icon slot="start" name="document-attach"></ion-icon>
            Subir imagen
           </ion-button>
          <input type="file" #fileInput (change)="uploadTrans($event)" hidden accept="image/*"/>
        </ion-item>
        <ion-item *ngIf="method=='Transferencia'">
          <ion-img [src]="imageUrl" alt="Aquí se mostrará la imagen a subir"></ion-img>
        </ion-item>
        <ion-item *ngIf="method=='Crédito' || method=='Débito'">
          <ion-label>Pago con Payphone</ion-label>
          <ion-button class="cart" (click)="generarPedidoTarj()" [disabled]="!terms">
            <ion-icon slot="start" name="card-outline"></ion-icon>
            Ir a pagar
          </ion-button>
        </ion-item>
        <ion-item *ngIf="method=='Efectivo'">
          <p>El pago se lo realizará en el local, cuando el estado de su pedido sea "Listo"</p>
        </ion-item>
      </ion-list>
      <ion-button [disabled]="!terms" expand="block" shape="round" *ngIf="method == 'Efectivo'" (click)="reservar()">
        Completar proceso
      </ion-button>
      <ion-button [disabled]="!(imageUrl!='-')" expand="block" shape="round" *ngIf="method == 'Transferencia'" (click)="reservar()">
        Completar proceso
      </ion-button>
    </ion-content>
    <ion-content class="ion-padding" *ngIf="checkout">
      <ion-card color="light" >
        <ion-toolbar>
          <ion-title><ion-chip color="success">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <ion-label>ÉXITO</ion-label>
          </ion-chip></ion-title>
        </ion-toolbar>
        <ion-card-header>
          <ion-card-subtitle>Muchas Gracias por tu compra</ion-card-subtitle>
          <ion-card-title>Has completado el proceso de pedido</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <strong>Si tienes que ir a retirar el pedido,</strong> espera a que tu orden se encuentre en estado "Listo" y podrás ir a retirarlo.<br>
          <strong>Si pediste envío,</strong> espera a que tu orden se encuentre en estado "Listo" y a que te llegue un mensaje con las indicaciones por WhatsApp.<br>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>